<div class="container spacer">
        <div class="panel panel-primary" *ngIf="mode==1">
                <div class="panel-heading"></div>
                <div class="panel-body">
                        <p></p>
                        <div>
                                <div class="form-group">
                                        <label class="control-label">Nom :</label>
                                        <input class="form-control" type="texte" [(ngModel)]="utilisateur.nom" />
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Prenom :</label>
                                        <input class="form-control" type="texte" [(ngModel)]="utilisateur.prenom" />
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Mot de passe :</label>
                                        <input class="form-control" type="password" [(ngModel)]="utilisateur.motDePasse" />
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Confirmer Mot de passe :</label>
                                        <input class="form-control" type="password" [(ngModel)]="motDePasseAConfirmer" />
                                </div>
                               
                                <div class="form-group">
                                        <label class="control-label">Login :</label>
                                        <input class="form-control" type="texte" [(ngModel)]="utilisateur.login" />
                                </div>
                                <button (click)="saveContact()">save</button>
                                <div class="messageMdpNonValide" *ngIf="mdpNonSimilaires">les mots de passes ne sont pas similaires</div>
                        </div>
                </div>
        </div>

        <div class="panel panel-primary" *ngIf="mode==2">
                <nav>
                        <ul>
                               
                                <li routerLink="/taches" class="btn btn-primary">Taches</li>
                                <li routerLink="/projet" class="btn btn-primary">Projets</li>


                        </ul>
                </nav>

                <div class="panel-heading"></div>
                <div class="panel-body">
                        <p></p>
                        <div>
                                <div class="form-group">
                                        <label class="control-label">Nom :</label>
                                        <label>{{utilisateur.nom}}</label>
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Prenom :</label>
                                        <label>{{utilisateur.prenom}}</label>
                                </div>
                                <div class="form-group">
                                        <label class="control-label">Mot de passe :</label>
                                        <label>{{utilisateur.motDePasse}}</label>
                                </div>
                        
                                <div class="form-group">
                                        <label class="control-label"> E-mail :</label>
                                        <label>{{utilisateur.login}}</label>
                                </div>
                                <button (click)="mode=1">Nouveau contact</button>


                        </div>

                </div>
        </div>

</div>